
<!-- header top section end -->
<!-- header section start -->
<div class="header_section">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light container-fluid" style="background-color: #fec701;">
            <div class="logo"><a href="/"><img src="assets/logoTek-up_university.png"></a></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about">ABOUT US</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/service">SERVICES</a>
                    </li>
                
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/news">NEWS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">CONTACT US</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/login">LOGIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  routerLink="/register">SIGNUP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><img src="assets/images/search-icon.png"></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>