<div class="contact_section layout_padding">
    <div class="container">
        <div class="contact_section_2">

            <div class="row" style="justify-content: center;">

                <div class="col-md-6">
                    <h1 class="contact_text" align="center" style="border-top: none;padding-top: 0;">Login</h1>
                    <br>
                    <br>
                    <form>
                        <div class="form-group">
                            <input type="text" class="email-bt" placeholder="username" name="Name">
                        </div>

                        <div class="form-group">
                            <input type="password" class="email-bt" placeholder="Password" name="Email">
                        </div>

                    </form>
                    <br>
                    <div class="main_bt"><a align="center" href="#">Login</a></div>
                </div>

            </div>
        </div>
    </div>
    <!-- footer section start -->
    <div class="footer_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="footer_logo"><img src="../../assets/logoTek-up_university.png"></div>
                    <p class="dolor_amet_text">It is a long established fact that a reader will be distracted by the
                        readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it
                        has a more-or-less normal distribution of letters, as opposed to using 'Content here, content
                        here', making it </p>
                </div>
                <div class="col-sm-4">
                    <h1 class="footer_about">About Us</h1>
                    <p class="dolor_amet_text_1">distracted by the readable content of a page when looking at its
                        layout. The point of using Lorem Ipsum is that it has</p>
                </div>
                <div class="col-sm-4">
                    <h1 class="footer_about">Newsletter</h1>
                    <input type="text" class="mail_text" placeholder="Enter your Email" name="text">
                    <button class="subscribe_bt">Send</button>
                </div>
            </div>
        </div>
    </div>
    <!-- footer section end -->
</div>




    
      
    